/* Defaults */
body { font-size: 16px; line-height: 24px; overflow-x: hidden; position: relative; color: #0F1427; }

h1 { font-size: 48px; line-height: 56px; margin-bottom: 40px; }
h2 { font-size: 40px; line-height: 48px; margin-bottom: 40px; }
h3 { font-size: 32px; line-height: 40px; margin-bottom: 20px; }
h4 { font-size: 24px; line-height: 32px; margin-bottom: 20px; }
h5 { font-size: 20px; line-height: 28px; margin-bottom: 0; }
p  { font-size: 16px; line-height: 24px; margin-bottom: 20px; }
li { font-size: 16px; line-height: 24px; }

a { color: #000000; transition: all 0.3s; }
a img { transition: all 0.3s; }
a:hover { text-decoration: none; color: #0F1427; }

hr {}
i, em {}
b, strong {}
blockquote {}
img { transition: all 0.3s; }
svg { height: 100%; width: 100%; }
table { width: 100%; }
table td { vertical-align: top; }
canvas { position: absolute; }

/* General */
#icon { cursor: pointer; fill: url(#gradient); }

.hidden { display: none; z-index: -1000 !important; }
.required { color: red; font-weight: bold; }
.shaded { background-color: #F7F7F7; }
.anchor { display: block; }
.zoom a,
.zoom img { transition: all; }
.viewer { overflow: hidden; }
.viewer:hover img { transform: scale(1.1); }

/* Heading */
.heading { margin-bottom: 50px; }
.heading h5 { position: relative; display: inline-block; padding-left: 20px; padding-right: 20px; color: #1177DD; margin-bottom: 5px; }
.heading h5:before,
.heading h5:after { position: absolute; content: "•"; height: 100%; width: 20px; font-size: 40px; line-height: 20px; }
.heading h5:before { left: 0; }
.heading h5:after { right: 0; text-align: right; }

.fold { overflow: hidden; min-height: 100vh; padding-top: 150px; padding-bottom: 150px; }
.fold { background-position: center; background-repeat: no-repeat; background-attachment: fixed; }

/* Line Heights */
.lh-1 { line-height: 1; }
.lh-2 { line-height: 2; }
.lh-3 { line-height: 3; }
.lh-4 { line-height: 4; }
.lh-5 { line-height: 5; }

/* Font Colors */
.fc-sky  { color: #6EE1FE; }
.fc-blue { color: #1177DD; }

/* Header */
header { position: fixed; width: 100%; left: 0; top: 0; z-index: 100; }
header { transition: all 0.5s; }
header > div { padding-top: 20px; padding-bottom: 20px; }
header .main-logo { float: left; }
header .main-logo img { max-height: 60px; }
header .for-screen { padding-top: 30px; transition: all 0.3s; }

/* Header: Mobile */
header .for-mobile { padding: 15px; }
header .for-mobile img { max-width: 240px; max-height: 40px; margin-top: 5px; }
header .for-mobile .list-nav li { display: block; }
header .for-mobile .list-nav li { margin: 0; }
header .for-mobile .list-nav li a { text-indent: 0 !important; }
header .for-mobile .list-nav li a:hover { color: #C0AC81 !important; }
header .for-mobile .list-nav li a:before { display: none; }

/* Header: Navigation */
header .list-nav { text-align: right; margin-bottom: 0; padding-left: 0; }
header .list-nav li { display: inline-block; margin: 0 0 0 10px; transition: all 0.3s; }
header .list-nav li a { color: #FFFFFF; padding: 8px 20px; display: block; border-radius: 100px; }
header .list-nav li a:hover,
header .list-nav li a.active { color: #1177DD; }
header .list-nav .list-soc-item { margin: 0 0 0 30px; }
header .list-nav .list-soc-item a { padding: 0; }

/* Header: OnScroll */
header.onscroll { background-color: #0F1427; }
header.onscroll .for-screen { padding-top: 20px; }
header.onscroll .for-screen .main-logo img { max-height: 50px; }
header.onscroll .for-mobile .main-logo img { max-height: 40px; }
header.onscroll .list-na li { margin: 0 0 0 20px; }

/* Fold: Main */
.fold.fold-main { position: relative; color: #FFFFFF; padding: 100px 0 0 !important; }
.fold-main:before { position: absolute; height: 100%; width: 100%; top: 0; left: 0; content: ""; opacity: 0.1; }
.fold-main:before { content: ""; background-image: url(../images/bg-main.jpg); background-attachment: fixed; }

.fold-main { display: flex; background-position-y: top; background-size: cover; background-color: #0f1427; }
.fold-main .btn { color: #FFFFFF; }
.fold-main .container { align-self: center; position: relative; z-index: 1; }
.fold-main .container .row { display: flex; align-items: center; }
.fold-main .container .row ~ div { align-self: center; }
.fold-main .container .heading { border-bottom: 0; }

/* Fold: Reasons */
.fold.fold-reasons { min-height: auto; color: #FFFFFF; background-color: #0F1427; }
.fold.fold-reasons svg { background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); border-radius: 100px; }
.fold.fold-reasons svg { margin-bottom: 20px; fill: #1177DD; width: 100px; height: 100px; padding: 30px; }

/* Fold: Products */
.fold-products { color: #FFFFFF; background-color: #0F1427; }
.deck-products .card { background-color: transparent; }
.deck-products .card a { color: #FFFFFF; }
.deck-products .card-img-top { background-color: #FFFFFF; border-radius: 10px; padding: 20px; margin: 0 auto; }
.deck-products .card-img-top { position: relative; width: 80%; bottom: -50px; z-index: 1; transition: ease all 0.2s; }
.deck-products .card-body {  text-align: center; /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); background-color: rgba(0, 0, 0, 0.2); */ }
.deck-products .card-body { background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);padding-top: 70px; border-radius: 10px; }
.deck-products .card-body { position: relative; }
.deck-products .card-body h4 { position: relative; color: #1177DD; }
.deck-products .card-body p { position: relative; }
.deck-products .card-body:before { position: absolute; content: ""; height: 0; width: 100%; top: 0; left: 0; }
.deck-products .card-body:before { background: linear-gradient(0deg, rgba(15,30,29,0) 20%, rgba(17,119,221,1) 120%); }
.deck-products .card-body:before { transition: ease all 0.2s; border-radius: 10px; }
.deck-products .card:hover .card-img-top { box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); }
.deck-products .card:hover .card-body { /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);*/ }
.deck-products .card:hover .card-body:before { height: 100%; }
.deck-products .card:hover .card-img-top { bottom: -40px; }
      
/* Deck: Blog */
.deck-blog .card { border: 0; margin-bottom: 30px; }
.deck-blog .card p { transition: all 0.3s; }
.deck-blog .card-title { color: #1177DD; font-weight: bold; }
.deck-blog .card-img-top { z-index: 1; overflow: hidden; border-radius: 10px; background-color: #191931; }
.deck-blog .card-img-top img { filter: grayscale(0); }
.deck-blog .card-img-top:hover img { filter: grayscale(100%); opacity: 0.8; transform: scale(1.1); }
.deck-blog .card-body { padding: 50px 0 30px; position: relative; }
.deck-blog .card-body .card-meta { font-size: 14px; position: absolute; background-color: #FFFFFF; z-index: 1; top: -15px; }
.deck-blog .card-body .card-meta { padding: 10px 25px; border-radius: 50px; transform: translate(-50%, 0); }
.deck-blog .card-body .card-meta { left: 50%; box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2); }
.deck-blog .card-body .list-categories a { color: #47E3B4; }
.deck-blog .card-body .list-categories a:hover { color: #000000; }
.deck-blog .card-body .list-categories li { position: relative; color: #47E3B4; }
.deck-blog .card-body .list-categories li:after { content: "/"; margin-left: 15px; }
.deck-blog .card-body .list-categories li:last-child:after { content: ""; margin-left: 0; }
.deck-blog .card-body .list-social i { color: #1177DD; }

/* Fold: Contact */
.fold-contact { color: #FFFFFF; background-color: #0F1427; position: relative; }
.fold-contact .btn { color: #FFFFFF; }
.fold-contact:before { position: absolute; height: 100%; width: 100%; content: ""; top: 0; left: 0; opacity: 0.1; }
.fold-contact:before { background-image: url(../images/bg-map.png); background-size: cover; background-attachment: fixed; }
.fold-contact:before{ background-repeat: no-repeat; }

/* Kneeler */
.kneeler { color: #FFFFFF; background-color: #0F1427; }
.kneeler i { height: 50px; width: 50px; text-align: center; line-height: 50px; font-size: 20px; }
.kneeler i { border-radius: 50px; background: linear-gradient(0deg, #6cdffd 20%, #1379de 120%); }
.kneeler a { color: #FFFFFF; }
.kneeler a:hover { color: #1177DD; }
.kneeler .container { border-top: 1px solid rgba(255, 255, 255, 0.1); padding-top: 100px; }
.kneeler .container { border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding-bottom: 40px;  }
.kneeler .list-share a i { background: #000000; color: #6cdffd; height: 32px; width: 32px; line-height: 32px; font-size: 12px; }
.kneeler .list-share a i { background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%); }
.kneeler .list-share a i:hover { opacity: 0.5; }

/* Footer */
footer { padding: 50px 0; background-color: #0F1427; color: #FFFFFF; overflow: hidden; }
footer a { color: #FFFFFF; }
footer a:hover { color: #FFFFFF; opacity: 0.5; }
footer .col-right { text-align: right; }

/* Loader */
.no-js #loader { display: none;  }
   .js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; }
.se-pre-con { display: flex; justify-content: center; align-items: center; background-color: #0F1427; }
.se-pre-con .loader { background: linear-gradient(-45deg, #1177DD, #6EE1FE, #FFFFFF, #1177DD, #6EE1FE); }
.se-pre-con .loader {background-size: 400% 400%; animation: gradient 5s ease infinite; height: 100px; width: 100px; }
.se-pre-con .loader img { height: 110px; width: 110px; margin-top: -5px; margin-left: -5px; }

@keyframes gradient {
   0%   { background-position: 0% 50%; }
   50%  { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
}

/* Floaters */
.floaters { position: fixed; right: -70px; bottom: 30px; z-index: 100; transition: all 0.3s; }
.floaters .btn { border: 0; background: #0099FF !important; color: #FFF !important; transition: all 0.3s; }
.floaters .btn { width: 50px; height: 50px; display: flex; padding: 0; text-align: center; opacity: 0.5; }
.floaters .btn { box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); align-items: center; justify-content: center; }
.floaters .btn:hover { opacity: 1; animation: beating 2s infinite; }
.floaters > div { margin-top: 10px; }
.floaters.show { right: 30px; }